{% extends 'base.html.twig' %}

{% block title %}Profil Mentor !{% endblock %}

{% block body %}


<!-- Pricing Section -->

<section id="pricing" class="pricing section">

  <div class="container">

    <div class="row gy-3">

     
      <div class="col-xl-8 col-lg-8" data-aos="fade-up" data-aos-delay="200">
        <div class="img-fluid">
        
          <div class="col-lg-8 mb-4 mb-lg-0">
            <img src="{{ mentor.image }}" alt="...">
        </div>
       
        </div>
      </div><!-- End Pricing Item -->

      

      <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="pricing-item">
          <span class="advanced">Top Mentor</span>
          <h3>{{ mentor.slug }}</h3>
          <h5>{{ mentor.user.fullName }}</h5>
           <h4>{{ mentor.price }}<sup>€</sup><span> / mois</span></h4>
       
           <ul>
            <li>{{ mentor.bio }}</li>
            <li>{{ mentor.yearexpertise }} ans</li>
            <li>Compétences : </li>
            <li>Formations : </li>
            <li>Massa ultricies mi</li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy">Réserver maintenant</a>
          </div>
        </div>
      </div><!-- End Pricing Item -->

<div class="container">
        <section class="bg-light mt-5">
            <div class="container">
                <div class="row">
                    
                    </div>
                </div>
            </div>
        </section>
       
    
        </div>

      </div>

    </section><!-- /Pricing Section -->

  </main>
        
{% endblock %}

        