{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block body %}
    <h1>Catalog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catalog.id }}</td>
            </tr>
            <tr>
                <th>NameCourse</th>
                <td>{{ catalog.nameCourse }}</td>
            </tr>
            <tr>
                <th>MentorName</th>
                <td>{{ catalog.mentorName }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ catalog.createdAt ? catalog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_catalog_index') }}">back to list</a>

    <a href="{{ path('app_catalog_edit', {'id': catalog.id}) }}">edit</a>

    {{ include('catalog/_delete_form.html.twig') }}
{% endblock %}
