<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{{ path('app_default_home') }}" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{{asset('assets/frontend/img/logo.png') }}" alt=""> -->
        <h1 class="sitename">MentorHub</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
            <!--  <li><a href="{{ path('app_default_home') }}" class="active">Accueil</a></li>-->
          <li><a href="#">Cours</a></li> 
          <li><a href="{{ path('app_mentor') }}">Mentors</a></li>
          <li><a href="{{ path('search_mentor') }}">Rechercher</a></li> 
          <!--  <li><a href="#">Devenir Mentor</a></li> -->
          <li><a class="nav-link" href="{{ path('app_default_contact') }}">Contact</a></li>


          {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a class="nav-link" href="{{ path('admin') }}">Administration</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MENTOR') %}
                    <li>
                        <a class="nav-link" href="{{ path('app_profil_mentor_sessions') }}">Mes sessions</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_user_register') }}">Inscription</a>
                </li>
            {% endif %}
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
   
      <a class="btn-getstarted" href="#">Get started</a>

    </div>
  </header>